@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.navbar1 {
    width: 100vw;
    height: 7vh;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: space-between;
    padding: 0% 4%;
    border-bottom: 1px solid rgb(71, 69, 69);
}

.navbar2 {
    width: 100vw;
    /* border: 2px solid black; */
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar2 a:nth-child(5) {
    /* border: 2px solid black; */
    padding: .5rem 1rem;
    font-weight: 500;
    border-radius: 2rem;
    background-color: #97FB57;
    color: black;
}

.navbarpart2 {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0% 4%;
}

.navbar2 img {
    height: 5vw;
    padding-left: 4rem;
}

.Main {
    height: 110vh;
    width: 100vw;
    /* border: 2px solid black; */
}

.Main h1 {
    text-align: center;
    font-size: 4vw;
    font-weight: 900;
    /* word-spacing: -8px; */
    width: 50%;
    line-height: 4.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Main>div {
    width: 100vw;
    display: flex;
    justify-content: center;
    /* margin-top: 8%; */

}

.Mainpart2 {
    /* border: 2px solid green; */
    margin-top: 8%;
}

.Mainpart3>p {
    text-align: center;
    width: 32vw;
    font-weight: 100;
    /* border: 2px solid black; */
}

.Mainpart3 {
    /* position: absolute; */
    /* top: 48%; */
    /* border: 2px solid black; */
    margin-top: 1.8rem;
}

.Mainpart4>a {
    /* border: 2px solid black; */
    padding: .5rem 1rem;
    font-weight: 500;
    border-radius: 2rem;
    background-color: #97FB57;
    color: black;
}

.background {
    background-image: url('/public/back.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.Mainpart5 {
    /* border: 2px solid red; */
    height: 3rem;
    width: 100vw;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Mainpart5 img {
    height: 7rem;
    filter: invert(1);
    margin: 0;
    padding: 0;

}

.Mainpart5 :nth-child(2) {
    /* border: 2px solid blue; */
    padding: .4rem .6rem;
    border-radius: 50%;
    color: black;
    font-weight: 600;
    background-color: white;
}

.Mainpart6 {
    /* border: 2px solid black; */
    /* position: relative;
    bottom: 18.5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Mainpart6>img {
    height: 3rem;
}

.Mainpart6 p {
    /* border: 2px solid black; */
    width: 20%;
    font-weight: 400;
    margin-top: 1rem;
}

.offer {
    min-height: 100vh;
    width: 100vw;
    background-color: #121212;
    /* border: 1px solid transparent; */
}

.offer .head {
    /* border: 2px solid red; */
    height: auto;
    width: auto;
    display: grid;
    place-items: center;

}

.head h2 {
    font-size: 3vw;
    font-weight: 600;
    width: 40vw;
    text-align: center;
    margin-top: 6%;
    line-height: 3.5rem;
    /* word-spacing: -8px;   */
}

.BoxContainer {
    padding: 0% 10%;
    margin-top: 4%;
    margin-bottom: 2%;
    /* border: 2px solid blue; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.Box {
    cursor: pointer;
    opacity: 0.6;
    /* border: 2px solid red; */
    height: 38vh;
    text-align: center;
    width: 40vh;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1vw;
    background-size: cover;
}

.Box h3 {
    color: rgb(255, 255, 255);
}

.BoxContainers {
    height: 130vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 9%;
    background-color: #121212;
}

.BoxContainerspart1 {
    height: 108vh;
    width: 50%;
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* flex-direction: column; */
    padding: 0% 2% 0% 0%;
    /* text-align: left; */
    padding: 0rem 2rem;
}

.BoxContainerspart2 {
    height: 50rem;
    width: 50%;
    /* border: 5px solid blue; */
}

.BoxContainerspart1>p {
    border: 2px solid #5F7252;
    padding: 5px 8px;
    border-radius: 2rem;

}

.BoxContainerspart1 h1 {
    font-size: 3vw;
    font-weight: 900;
    /* word-spacing: -7px; */
    line-height: 3.5rem;
    margin-top: 1.8rem;
}

.BoxContainerspart1-part2 {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.BoxContainerspart1-part3 {
    display: flex;
    gap: 1rem;
    margin-top: 1.8rem;
}

.BoxContainerspart1-part4 {
    display: flex;
    gap: 1rem;
    margin-top: 1.8rem;
}

.Membership {
    width: 100vw;
    height: 165vh;
    border: 1px solid transparent;
    background-color: #5F7252;

}

.MembershipHead {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    text-align: center;
}

.MembershipHead>p {
    font-size: 1vw;
    font-weight: 200;
    border: 2px solid rgb(255, 255, 255);
    padding: 4px 9px;
    border-radius: 2rem;

}

.MembershipHead h1 {
    margin-top: 1.8rem;
    line-height: 3.5rem;
    font-size: 3vw;
    /* border: 2px solid    red; */
    /* word-spacing: -5px; */
    width: 50%;
}

.MembershipBox {
    width: 25rem;
    height: 32rem;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 1rem;
}

.MembershipPart2 {
    padding: 0rem 10rem;
    margin-top: 3rem;
    width: 100%;
    height: auto;
    /* border: 5px solid rgb(83, 226, 43); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.MembershipBoxpart2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.MembershipBoxpart2>h3 {
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    width: 50%;
    line-height: 2.5rem;
    color: black;
}

.MembershipBox>p {
    text-align: center;
    margin-top: 1rem;
    font-size: 2vw;
    color: black;
}

.MembershipBoxpart3 p,
.MembershipBoxpart4 p,
.MembershipBoxpart5 p {
    color: black;
    font-weight: 100;
}

.MembershipBoxpart3 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.MembershipBoxpart4 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.MembershipBoxpart5 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.MembershipBoxpart6 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.MembershipBoxpart6 p {
    color: black;
    text-align: center;
    width: 50%;
    font-weight: 100;
    color: #919191;
    margin-top: 2rem;

}

.MembershipBoxpart6 a {
    color: black;
    /* border: 2px solid rgb(255, 255, 255); */
    padding: 6px 10px;
    margin-top: 2rem;
    color: white;
    border-radius: 2rem;
    background-color: black;
}

.Membershippart3 {
    margin-top: 2rem;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 10rem;
}

.MemberTesti {
    width: 25rem;
    height: 16rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 1rem;
    background-color: #818F78;
    padding: 0rem .2rem;
}

.MemberTesti img {
    text-align: center;
}

.MemberTestipart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.MemberTesti>p {
    text-align: center;
    margin-top: 2rem;
    font-weight: 200;
}

.MemberTesti>img {
    text-align: center;
}

.MemberTestipart3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}

.MemberTestipart3 p {
    font-weight: 200;
}

.MemberTestipart3 img {
    width: 4rem;
    margin-top: 1rem;
}

.About {
    min-height: 135vh;
    width: 100vw;
    background-color: #121212;
    border-bottom: 1px solid gray;
}

.Aboutpart1 {
    height: auto;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 8rem;
}

.Aboutpart1 a {
    border: 2px solid red;
    font-weight: 200;
    border: 2px solid #5F7252;
    padding: .4rem .5rem;
    border-radius: 2rem;

}

.Aboutpart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.Aboutpart2 h1 {
    width: 40%;
    font-size: 3vw;
    line-height: 3.3rem;
    margin-top: 2rem;
}

.Aboutpart2 p {
    width: 33%;
    font-weight: 200;
    margin-top: 2rem;
}

.Aboutpart3 {
    /* border: 2px solid red; */
    height: auto;
    display: flex;
    align-items: center;
    padding: 0rem 18rem;
    margin-top: 4rem;
    justify-content: center;
}

.Aboutpart3-part1 {
    /* border: 2px solid blue; */
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Aboutpart3-part1 form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Aboutpart3-part2 {
    /* border: 2px solid rgb(31, 248, 107); */
    width: 50%;
}

.Aboutpart3-part1 form input {
    width: 24vw;
    height: 3.5vw;
    margin-top: .8rem;
    border-radius: .8rem;
    border: none;
    padding: 0rem 1rem;
    color: black;

}

.Aboutpart3-part1 form h2 {
    font-size: 2vw;
    margin-bottom: 1rem;
}

.Aboutpart3-part1 form :nth-child(6) {
    /* border: 2px solid red; */
    width: 30%;
    border-radius: 1rem;
    /* padding: rem 1rem; */
    margin-top: 1rem;
    background-color: #97FB57;
    cursor: pointer;
}

.Aboutpart3-part2 img {
    width: 24vw;
    border-radius: 1rem;
}

.Footer {
    background-color: #121212;
    min-height: 65vh;
}

.Footerpart1 {
    /* background-color: #121212; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Footerpart1 img {
    margin-top: 5.5rem;
    margin-bottom: 3rem;
}

.Footerpart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-weight: 100;
    margin-top: 1rem;
}

.Footerpart3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-weight: 100;
    margin-top: .8rem;
}

.Footerpart4 p {
    text-align: center;
    margin-top: 3rem;
}